body,
header, 
nav, 
footer{
  display: flex;
  flex-direction: column;
}
image {
  justify-self: 50px;
}
.hero {
  margin-top: 100px;
}
#multistep {

  background-size: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 605px;
}

#multistep form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(78, 159, 237);
  background: linear-gradient(130deg, rgb(78, 159, 237) 0%, rgb(175, 214, 230) 40%, rgb(212, 245, 255) 100%);
  height: 550px;
  padding: 2rem;
  box-shadow: 4px 4px 8px;
  border-radius: 3%;
}




